@font-face {
  font-family: "iconfont"; /* Project id 3700605 */
  src: url('iconfont.woff2?t=1665555802972') format('woff2'),
       url('iconfont.woff?t=1665555802972') format('woff'),
       url('iconfont.ttf?t=1665555802972') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e62d";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-qq:before {
  content: "\e667";
}

.icon-password:before {
  content: "\e75b";
}

.icon-user:before {
  content: "\e99e";
}

.icon-gitee:before {
  content: "\e60c";
}

